bin/
build/
cases/
obj/
output/
tests/
CMakeFiles/
CMakeCache.txt
sync_to_cluster.bat
core*
.vscode/
*.vcxproj
*.filters
*.cmake
*.sln
*.asv
*.h5
*.o
*.exe
*.mat
*.bak
*.log
*.h5
*.ehydb
*.bts
*.dll
*.so
*/output/*
compilar.sh
.out
